.contactsBox {
    min-height: 100vh;
    background-color: #c8f3c8;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.form {
    border: 1px solid black
}

.contactsForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.contactsFormInput {
    height: 25px;
    width: 100%;
    margin-bottom: 7px;
}

.contactsFormTextarea {
    width: 100%;
    min-height: 70px;
}

.buttonBox {
    padding: 10px;
}

.button {
    width: 120px;
    height: 30px;
}