@import '../common/styles/sass/variables';

.myProjectsBlock {
  background-color: $bgColor;

  .myProjectsContainer {


    .myProjects {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 1275px) {
        justify-content: center;
      }
    }
  }


}






