@import '../common/styles/sass/variables';

.myProjectsBlock {
  background-color: $bgColor;

  .myProjects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 1805px) {
      justify-content: center;
    }
  }

}






