.skillsBlock {
    min-height: 100vh;
    background-color: #c8f3c8;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}