@import '../common/styles/sass/variables';


.mainBlock {
    display: flex;
    min-height: 100vh;
    background-color: $bgColor;
    height: 150px;
    .text {
        font-family: saira,sans-serif;
        width: 800px;
        height: 200px;
        //background-color: #c75d5d;
        .name {
            font-size: 24px;
            color: $primaryColor;
            margin-bottom: -50px;
        }
        .profession {
            font-weight: 700;
            color: #FFFFFF;
            font-size: 64px;
            line-height: 70px;
        }
    }
    .photo {
        width: 500px;
        height: 600px;
        //background-color: #6488a2;
        .me {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 600px;
            width: 100%;
            background-color: #b6b2b2;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: grayscale(100%);
            cursor: pointer;
            //position: relative;
            border: $bgColor
        }
    }
}



